node-red/sqltotemplate.json
[
    {
        "id": "54f44034566317a1",
        "type": "tab",
        "label": "IOT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68367956c26189b4",
        "type": "ui_text",
        "z": "54f44034566317a1",
        "group": "078fc974075e4d96",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Nb personnes",
        "label": "Compteur:",
        "format": "<font size=\"7\">  {{msg.payload}}</font> ",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 380,
        "wires": []
    },
    {
        "id": "2dbb9cfec1e76588",
        "type": "ui_chart",
        "z": "54f44034566317a1",
        "name": "",
        "group": "0b51842955f1c446",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Cette semaine",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1400,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb3da5f4cc72353",
        "type": "ui_text",
        "z": "54f44034566317a1",
        "group": "44138114560e7870",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Dernière Temp",
        "label": "",
        "format": "Température : {{msg.payload}}°C",
        "layout": "row-left",
        "className": "<ng-md-icon icon=\"send\" style=\"fill: pink\" size=\"10px\"></ng-md-icon>",
        "x": 1400,
        "y": 740,
        "wires": []
    },
    {
        "id": "9ef652048346c834",
        "type": "ui_text",
        "z": "54f44034566317a1",
        "group": "078fc974075e4d96",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "Peak personnes jour",
        "label": "Peak du jour:",
        "format": "{{msg.payload}}  personnes",
        "layout": "row-left",
        "className": "",
        "x": 1400,
        "y": 320,
        "wires": []
    },
    {
        "id": "26e66710ba5167c6",
        "type": "ui_gauge",
        "z": "54f44034566317a1",
        "name": "",
        "group": "44138114560e7870",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température actuelle",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#005cb3",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 1420,
        "y": 620,
        "wires": []
    },
    {
        "id": "05140f221c78ad74",
        "type": "ui_gauge",
        "z": "54f44034566317a1",
        "name": "",
        "group": "44138114560e7870",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidité actuelle <br>",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#005cb3",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 1420,
        "y": 660,
        "wires": []
    },
    {
        "id": "4e42963194401036",
        "type": "ui_gauge",
        "z": "54f44034566317a1",
        "name": "",
        "group": "078fc974075e4d96",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Personne par m2",
        "label": "pers/m2",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "2",
        "className": "",
        "x": 1390,
        "y": 440,
        "wires": []
    },
    {
        "id": "8949326996162cb3",
        "type": "ui_chart",
        "z": "54f44034566317a1",
        "name": "",
        "group": "0b51842955f1c446",
        "order": 3,
        "width": 6,
        "height": 6,
        "label": "T et Hum de la dernières 24h",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1440,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "91893b99482127ce",
        "type": "mysql",
        "z": "54f44034566317a1",
        "mydb": "1b8f87d70aa6f06c",
        "name": "",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "3789c87930671b15",
                "c463cacd542337cc"
            ]
        ]
    },
    {
        "id": "3d56f8d1c2a2e03f",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getmaxtemp",
        "func": "temp={\n    \"val\":\"Temp Max\",\n    \"topic\": \"select max(case dayname when 'Monday' then temp else 0 end) as Monday,\"+\n    \" max(case dayname when 'Tuesday' then temp else 0 end) as Tuesday,\"+\n    \"max(case dayname when 'Wednesday' then temp else 0 end) as Wednesday,\"+\n    \" max(case dayname when 'Thursday' then temp else 0 end) as Thursday,\"+\n    \"max(case dayname when 'Friday' then temp else 0 end) as Friday,\"+\n    \" max(case dayname when 'Saturday' then temp else 0 end) as Saturday,\"+\n    \"max(case dayname when 'Sunday' then temp else 0 end) as Sunday from data\"+\n    \" where day between (now() - INTERVAL 1 WEEK) and now()\"\n}\nreturn temp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 360,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "816e144f011368e2",
        "type": "inject",
        "z": "54f44034566317a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payloadType": "date",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "3d56f8d1c2a2e03f",
                "8d1855e88df83077",
                "3d6f38d8035ed854",
                "41b2e53b31d4ea1f",
                "36f370104fd10b7c",
                "f1bdb1f7e1af9858"
            ]
        ]
    },
    {
        "id": "8d1855e88df83077",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getmaxhumid",
        "func": "msg={\n    \"val\": \"Humid Max\",\n    \"topic\": \"select max(case dayname when 'Monday' then humid else 0 end) as Monday,\"+\n    \" max(case dayname when 'Tuesday' then humid else 0 end) as Tuesday,\"+\n    \"max(case dayname when 'Wednesday' then humid else 0 end) as Wednesday,\"+\n    \" max(case dayname when 'Thursday' then humid else 0 end) as Thursday,\"+\n    \"max(case dayname when 'Friday' then humid else 0 end) as Friday,\"+\n    \" max(case dayname when 'Saturday' then humid else 0 end) as Saturday,\"+\n    \"max(case dayname when 'Sunday' then humid else 0 end) as Sunday from data\"+\n    \" where day between (now() - INTERVAL 1 WEEK) and now()\"\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 300,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "3789c87930671b15",
        "type": "join",
        "z": "54f44034566317a1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "val",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "3a8d4a5f58ef86af",
                "2824474efcdc7661",
                "751ca0952c0f0219",
                "374dd32e2513a975",
                "447fb5827f3e9cba",
                "294d0b7098447c1d",
                "6aa6ece3997e9c88",
                "13809a6924a8692c"
            ]
        ]
    },
    {
        "id": "3a8d4a5f58ef86af",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "Data",
        "func": "var m={};\nm.labels = [\"Lundi\", \"Mardi\", \"Mercredi\", \"Jeudi\", \"Vendredi\", \"Samedi\", \"Dimanche\"];\nm.series = ['Température °C', 'Humidité %', 'Luminosité'];\nm.data = [\n    [msg.payload[\"Temp Max\"][0].Monday, msg.payload[\"Temp Max\"][0].Tuesday, msg.payload[\"Temp Max\"][0].Wednesday, msg.payload[\"Temp Max\"][0].Thursday, msg.payload[\"Temp Max\"][0].Friday, msg.payload[\"Temp Max\"][0].Saturday, msg.payload[\"Temp Max\"][0].Sunday],\n    [msg.payload[\"Humid Max\"][0].Monday, msg.payload[\"Humid Max\"][0].Tuesday, msg.payload[\"Humid Max\"][0].Wednesday, msg.payload[\"Humid Max\"][0].Thursday, msg.payload[\"Humid Max\"][0].Friday, msg.payload[\"Humid Max\"][0].Saturday, msg.payload[\"Humid Max\"][0].Sunday],\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "2dbb9cfec1e76588"
            ]
        ]
    },
    {
        "id": "3d6f38d8035ed854",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getllastTempHum",
        "func": "temp={\n    \"val\":\"LastTempHumid\",\n    \"topic\": \"SELECT Temp, Humid FROM data ORDER BY PK_ID DESC LIMIT 1\"\n}\nreturn temp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "2824474efcdc7661",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "LastTemp",
        "func": "lastTemp = {\n    \"topic\" : \"Temp\",\n    \"payload\": msg.payload.LastTempHumid[0].Temp \n}\nreturn lastTemp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 580,
        "wires": [
            [
                "8949326996162cb3",
                "26e66710ba5167c6",
                "4cb3da5f4cc72353"
            ]
        ]
    },
    {
        "id": "c463cacd542337cc",
        "type": "debug",
        "z": "54f44034566317a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "751ca0952c0f0219",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "LastHumid",
        "func": "lastHum = {\n    \"topic\" : \"Humid\",\n    \"payload\": msg.payload.LastTempHumid[0].Humid\n}\n\nreturn lastHum;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 620,
        "wires": [
            [
                "8949326996162cb3",
                "05140f221c78ad74",
                "ab96d7c4df3c89dd"
            ]
        ]
    },
    {
        "id": "ab96d7c4df3c89dd",
        "type": "ui_text",
        "z": "54f44034566317a1",
        "group": "44138114560e7870",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Dernière Hum",
        "label": "",
        "format": "Humidité : {{msg.payload}} %         ",
        "layout": "row-left",
        "className": "<ng-md-icon icon=\"send\" style=\"fill: pink\" size=\"10px\"></ng-md-icon>",
        "x": 1400,
        "y": 780,
        "wires": []
    },
    {
        "id": "84ef391feac0f7b1",
        "type": "ui_text",
        "z": "54f44034566317a1",
        "group": "44138114560e7870",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Derniere mesures",
        "label": "Dernières mesures:",
        "format": "",
        "layout": "row-left",
        "className": "<ng-md-icon icon=\"send\" style=\"fill: pink\" size=\"10px\"></ng-md-icon>",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "41b2e53b31d4ea1f",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getLastPerson",
        "func": "person={\n    \"val\":\"Nb_person\",\n    \"topic\": \"SELECT Nb FROM data ORDER BY PK_ID DESC LIMIT 1\"\n}\nreturn person;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "374dd32e2513a975",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "Nb_person",
        "func": "msg.payload = msg.payload.Nb_person[0].Nb\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "68367956c26189b4"
            ]
        ]
    },
    {
        "id": "447fb5827f3e9cba",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "person/m2",
        "func": "msg.payload = msg.payload.Nb_person[0].Nb/200; //200 m^2 dans le parc (exemple)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "4e42963194401036"
            ]
        ]
    },
    {
        "id": "36f370104fd10b7c",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getPeakPerson",
        "func": "peak_person={\n    \"val\":\"Peak_person\",\n    \"topic\": \"SELECT MAX(Nb) AS  Nb_peak from  data where dayname=dayname(now());\"\n}\nreturn peak_person;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "294d0b7098447c1d",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "",
        "func": "msg.payload = msg.payload.Peak_person[0].Nb_peak\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "9ef652048346c834"
            ]
        ]
    },
    {
        "id": "28bff1e9387e2b37",
        "type": "comment",
        "z": "54f44034566317a1",
        "name": "A FAIRE/CORRIGER",
        "info": "# - A faire / Corriger \n\n1- Modifier query getMaxTemp et getMaxHum pour prendre des maximus des jours de la semaine ACTUELLE et pas toute la BDD.\n \n2- Modifier query getPeakPerson pour prendre le peak des personnes de la journée ACTUELLE et pas de toute la BDD. \n\n3- Faire quelque chose avec la luminosité, je ne prends pas les valeurs de la BDD. On utilise comment? Quelle unité? Light Blue , Light Red? ",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "6aa6ece3997e9c88",
        "type": "debug",
        "z": "54f44034566317a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 240,
        "wires": []
    },
    {
        "id": "f1bdb1f7e1af9858",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "getmaxLum",
        "func": "msg={\n    \"val\": \"Lum Max\",\n    \"topic\": \"select max(case dayname when 'Monday' then Light_Blue else 0 end) as Monday,\"+\n    \" max(case dayname when 'Tuesday' then Light_Blue else 0 end) as Tuesday,\"+\n    \"max(case dayname when 'Wednesday' then Light_Blue else 0 end) as Wednesday,\"+\n    \" max(case dayname when 'Thursday' then Light_Blue else 0 end) as Thursday,\"+\n    \"max(case dayname when 'Friday' then Light_Blue else 0 end) as Friday,\"+\n    \" max(case dayname when 'Saturday' then Light_Blue else 0 end) as Saturday,\"+\n    \"max(case dayname when 'Sunday' then Light_Blue else 0 end) as Sunday from data\"+\n    \" where day between (now() - INTERVAL 1 WEEK) and now()\"\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "91893b99482127ce"
            ]
        ]
    },
    {
        "id": "0c69fcee5fe2e801",
        "type": "ui_chart",
        "z": "54f44034566317a1",
        "name": "",
        "group": "0b51842955f1c446",
        "order": 2,
        "width": 6,
        "height": 5,
        "label": "",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#d1c300",
            "#aec7e8",
            "#ff7700",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1390,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "13809a6924a8692c",
        "type": "function",
        "z": "54f44034566317a1",
        "name": "Data",
        "func": "var m={};\nm.labels = [\"Lundi\", \"Mardi\", \"Mercredi\", \"Jeudi\", \"Vendredi\", \"Samedi\", \"Dimanche\"];\nm.series = ['Luminosité'];\nm.data = [\n    [msg.payload[\"Lum Max\"][0].Monday, msg.payload[\"Lum Max\"][0].Tuesday, msg.payload[\"Lum Max\"][0].Wednesday, msg.payload[\"Lum Max\"][0].Thursday, msg.payload[\"Lum Max\"][0].Friday, msg.payload[\"Lum Max\"][0].Saturday, msg.payload[\"Lum Max\"][0].Sunday]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 880,
        "wires": [
            [
                "0c69fcee5fe2e801"
            ]
        ]
    },
    {
        "id": "35e41d5960094a74",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "628a97273ef768ca",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "59538485c0752118",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "628a97273ef768ca",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c3a241ec9c60025",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "078fc974075e4d96",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7559a5cf1d1f5ead",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "078fc974075e4d96",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f69b2054b3c93853",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "078fc974075e4d96",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "65f97ad4c92db73b",
        "type": "ui_spacer",
        "z": "54f44034566317a1",
        "name": "spacer",
        "group": "078fc974075e4d96",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "078fc974075e4d96",
        "type": "ui_group",
        "name": "Personnes",
        "tab": "7f0b6ea90e8d5840",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b51842955f1c446",
        "type": "ui_group",
        "name": "Graphiques",
        "tab": "7f0b6ea90e8d5840",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "44138114560e7870",
        "type": "ui_group",
        "name": "Mesures",
        "tab": "7f0b6ea90e8d5840",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b8f87d70aa6f06c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "628a97273ef768ca",
        "type": "ui_group",
        "name": "Flow input",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f0b6ea90e8d5840",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]